/* CONTAINER */
.container {
  width: 100%;
  max-width: 74.375rem;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

/* 640px */
@include breakpoint-up(40em) {
  $container-padding: 40px;

  :root {
    --container-padding: #{$container-padding};
  }
}
